@font-face {font-family: tit;src: url('../fuentes/Starjedi.ttf');}
body {
		background-image: url("../img/fondo1.jpeg");
}

#titulo {
		font-family:tit;
		background-image: url("../img/fondost.png");
		color: yellow;
		text-align:center;
		font-size:20px;
		border: 1px solid red;
		margin-left:30px;
		margin-right:64px;
		margin-top:40px;
		margin-bottom:15px;
		height:65px;
}

#parr1 {
		background-image: url("../img/fondo.jpg");
		color: white;
		text-align:justify;
		border: 1px solid red;
		margin-left:30px;
		margin-right:64px;
		height:120px;
}