@font-face {font-family: tit;src: url('../fuentes/Starjedi.ttf');}
body {
		background-image: url("../img/fondo1.jpeg");
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: cover;
}

#titulo {
		font-family:tit;
		background-image: url("../img/fondost.png");
		color: yellow;
		text-align:center;
		border: 3px solid red;
		margin-left:30px;
		margin-right:64px;
		margin-top:40px;
		margin-bottom:15px;
		height:65px;
		width:1345px;		
		display: flex;
		justify-content: center;
		align-content: center;
		flex-direction: column;
}

#parr1 {
		background-image: url("../img/lava.jpg");
		color: white;
		text-align:justify;
		border: 3px solid red;
		margin-left:30px;
		margin-right:64px;
		height:120px;
		width:1345px;
		margin-bottom:15px;
}
		
#parr2 {
		background-image: url("../img/fondost.png");
		color: yellow;
		height:470px;
		width:290px;
		text-align:center;
		border: 3px solid red;
		margin-left:30px;
		margin-right:30px;
		margin-bottom:15px;
		font-size:20px;
		float: left;
}

#parr3 {
		background-image: url("../img/lava.jpg");
		height:470px;
		width:1018px;
		float: left;
		border: 3px solid red;
		color:white;
}

#parr4{
		background-image: url("../img/lava.jpg");
		height:125px;
		width:1345px;
		border: 3px solid red;
		color:white;
		margin-left:30px;
		margin-right:64px;
		clear:left;

}

#prueba {
		height:465px;
}


#tabla1 {
		width:367px;
		text-align:left;
		margin-left: 35px;
		float:left;
}

#foto1{
	width:470px;
	float: left;
	margin-top:25px;
	margin-left:65px;
	height:225px;
}
#foto2{
	width:470px;
	float: left;
	margin-top:25px;
	margin-left:65px;
	height:180px;
}

td,th{
	border: 1px solid white;
}

caption{
	font-size:25px;
	text-align:left;
	margin-top:20px;
	font-weight:bold;
}